<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dl.member.dao.DlMessageMapper">
  <resultMap id="BaseResultMap" type="com.dl.member.model.DlMessage">
    <id column="msg_id" jdbcType="INTEGER" property="msgId" />
    <result column="sender" jdbcType="INTEGER" property="sender" />
    <result column="send_time" jdbcType="INTEGER" property="sendTime" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="msg_type" jdbcType="BIT" property="msgType" />
    <result column="push_type" jdbcType="VARCHAR" property="pushType" />
    <result column="push_value" jdbcType="VARCHAR" property="pushValue" />
    <result column="receiver" jdbcType="BIT" property="receiver" />
    <result column="receiver_mobile" jdbcType="VARCHAR" property="receiverMobile" />
    <result column="object_type" jdbcType="INTEGER" property="objectType" />
    <result column="is_mobile_success" jdbcType="BIT" property="isMobileSuccess" />
    <result column="is_push_success" jdbcType="BIT" property="isPushSuccess" />
    <result column="is_read" jdbcType="BIT" property="isRead" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
    <result column="content_url" jdbcType="LONGVARCHAR" property="contentUrl" />
    <result column="content_desc" jdbcType="LONGVARCHAR" property="contentDesc" />
    <result column="msg_desc" jdbcType="LONGVARCHAR" property="msgDesc" />
    <result column="msg_url" jdbcType="LONGVARCHAR" property="msgUrl" />
  </resultMap>
  
  <sql id="fields">
  	msg_id,sender,send_time,title,msg_type,push_type,push_value,receiver,receiver_mobile,object_type,
  	is_mobile_success,is_push_success,is_read,content,msg_desc,content_url
  </sql>
  <select id="findUserMessageList" resultMap="BaseResultMap">
  	select 
  		<include refid="fields"/>
  	from 
  		dl_message
  	where 
  		msg_type=#{msgType} and (receiver=#{receiver} or receiver =-1)
  </select>
</mapper>