<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dl.member.dao.UserBankMapper">
  <resultMap id="BaseResultMap" type="com.dl.member.model.UserBank">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="card_no" jdbcType="VARCHAR" property="cardNo" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="bank_logo" jdbcType="VARCHAR" property="bankLogo" />
    <result column="bank_name" jdbcType="VARCHAR" property="bankName" />
    <result column="last_time" jdbcType="INTEGER" property="lastTime" />
    <result column="add_time" jdbcType="INTEGER" property="addTime" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="abbreviation" jdbcType="VARCHAR" property="abbreviation" />
    <result column="purpose" jdbcType="VARCHAR" property="purpose" />
  </resultMap>
  
  <update id="batchUpdateUserBankStatus">
  	UPDATE dl_user_bank SET status = #{status}  WHERE id in
  	<foreach collection="list" index="index" item="item" open="(" separator="," close=")">  
         #{item}  
    </foreach>
  </update>
  
  <update id="updateUserBank" parameterType="com.dl.member.model.UserBank">
  	UPDATE dl_user_bank 
		 <trim prefix="set" suffixOverrides=",">
		  <if test="isDelete!=null">is_delete=#{isDelete},</if>
		  <if test="status!=null">status=#{status},</if>
		  <if test="lastTime!=null">last_time=#{lastTime},</if>
		 </trim>
    WHERE id = #{id} and user_id=#{userId} and purpose=#{purpose}
  </update>
  
  <!-- <select id ="queryUserBankList" resultMap="BaseResultMap">
  	select * from dl_user_bank where user_id = #{userId} and is_delete = 0 order by add_time
  </select> -->
  
  <select id ="queryUserBankBySelective" parameterType="com.dl.member.model.UserBank" resultMap="BaseResultMap">
  	select * from dl_user_bank 
  	<where>
	  	<if test="userId != null">
	        AND user_id = #{userId}
	    </if>
	    <if test="isDelete != null">
	        AND is_delete = #{isDelete}
	    </if>
	    <if test="cardNo != null">
	        AND card_no = #{cardNo}
	    </if>
	    <if test="status != null">
	        AND status = #{status}
	    </if>
	    <if test="id != null">
	        AND id = #{id}
	    </if>
	    <if test="purpose != null">
	        AND purpose = #{purpose}
	    </if>
    </where>
    order by add_time DESC
  </select>
</mapper>