<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dl.member.dao.UserBankMapper">
  <resultMap id="BaseResultMap" type="com.dl.member.model.UserBank">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="card_no" jdbcType="VARCHAR" property="cardNo" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="bank_logo" jdbcType="VARCHAR" property="bankLogo" />
    <result column="bank_name" jdbcType="VARCHAR" property="bankName" />
  </resultMap>
</mapper>