<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dl.member.dao.UserWithdrawMapper">
  <resultMap id="BaseResultMap" type="com.dl.member.model.UserWithdraw">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="withdrawal_sn" jdbcType="VARCHAR" property="withdrawalSn" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="account_id" jdbcType="INTEGER" property="accountId" />
    <result column="add_time" jdbcType="INTEGER" property="addTime" />
    <result column="status" jdbcType="BIT" property="status" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="card_no" jdbcType="VARCHAR" property="cardNo" />
    <result column="pay_time" jdbcType="INTEGER" property="payTime" />
    <result column="payment_id" jdbcType="VARCHAR" property="paymentId" />
  </resultMap>
  
  <insert id="insertUserWithdraw"  parameterType="com.dl.member.model.UserWithdraw">
     INSERT INTO dl_user_withdraw(withdrawal_sn,user_id,amount,add_time,status,real_name,card_no)
     VALUES((#{recharge_sn},#{user_id},#{amount},#{add_time},#{status},#{realName},#{cardNo});
  </insert>
  
  <update id="updateUserWithdrawBySelective" parameterType="com.dl.member.model.UserWithdraw">
   	 UPDATE dl_user_withdraw
		 <trim prefix="set" suffixOverrides=",">
		  <if test="payTime!=null">pay_time=#{payTime},</if>
		  <if test="paymentId!=null">payment_id=#{paymentId},</if>
		 </trim>
	 WHERE id = #{id}  
  </update>
  
</mapper>