<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dl.member.dao.UserCollectMapper">
  <resultMap id="BaseResultMap" type="com.dl.member.model.UserCollect">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="article_id" jdbcType="VARCHAR" property="articleId" />
    <result column="add_time" jdbcType="VARCHAR" property="addTime" />
    <result column="collect_from" jdbcType="VARCHAR" property="collectFrom" />
  </resultMap>
</mapper>